  
  <div class="headerRightPanel">
    <ul>
      <li><input type="text"  class="inputCls width250px" placeholder="Search"/></li>
      <li class="headerSearch"><a href="#"><img src="../../assets/img/Help_Icon.png" /></a></li>
      <li class="headerSearch"><a href="#"><img src="../../assets/img/Notification_Icon.png" /></a></li>
      <li class="headerSearch"><a href="#"><img src="../../assets/img/Comments_Icon.png" /></a></li>
      <li class="headerSearch"><a href="#" class="mr">Mr.</a></li>
    </ul>
  </div>
 