
<header>  
		<div class="headerLeftPanel">
				<img src="../../assets/img/menu-button.png" mat-button (click)="drawer.toggle()"/>&nbsp;&nbsp;
				<img src="../../assets/img/Logo.png" />
			 </div>
	<header-cmp></header-cmp>
	
</header> 

<section>
		<mat-drawer-container class="example-container" autosize>
				<mat-drawer #drawer class="example-sidenav" mode="side">   
						<sidebar-cmp></sidebar-cmp>
				</mat-drawer>
				<article>
						<router-outlet></router-outlet>			
				</article>
		</mat-drawer-container>	
</section>


